FORMAT: 1A
HOST: http://api.medselfed.com

FORMAT: 1A

# MedSelfEd API
The MedSelfEd  API is resource available on the MedSelfEd patient engagement platform 
that can be integrated with your website, CMS or LMS through MedSelfEd APIs. MedSelfEd API 
Offerings enable organizations; patient educators and application developers to connect 
to MSE content from anywhere in real-time.

## Authentication
Consumer Application authentication is the process of verifying the identity of a user or 
service that seeks access to MedSelfEd API. This process ensures that request made by 
the user of the account (as specified in the request), is genuine and allowed to interact 
with the MedSelfEd API

## Content Types
Where applicable this API uses the [application/json](http://en.wikipedia.org/wiki/JSON) 
media-type to represent resources states and affordances.

Requests with a message-body are using plain JSON to set or update resource states.

## Error States
The common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) are used.


# Group Procedures API
Procedures-related resources of *Procedures API*.


# GET All Procedures [/v1/procedures]
Procedures API entry point, responds with all available procedures.

This resource does not have any attributes. Instead it offers the initial API affordances in the form of links to available media types.

Example Request

To make a request to the API run the following command at a terminal prompt.

`````
curl 'http://api.medselfed.com/v1/procedures?apikey=111223' 
`````

## Retrieve all Procedures [GET]

+ Response 200 (application/json)
    + Headers

    + Body

        {
          "class": [
            "root"
          ],
          "properties": [
            {
              "id": 477,
              "langId": "en",
              "siteId": "preop",
              "name": "Abdominal Aortic Aneurysm - Open Repair",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/477"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/477/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/477/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/477/video.m3u8"
                }
              ]
            },
            {
              "id": 402,
              "langId": "en",
              "siteId": "preop",
              "name": "Abdominal Fibroid Removal - Myomectomy",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/402"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/402/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/402/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/402/video.m3u8"
                }
              ]
            },
            {
              "id": 352,
              "langId": "en",
              "siteId": "preop",
              "name": "Achilles Tendon Repair",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/352"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/352/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/352/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/352/video.m3u8"
                }
              ]
            },
            {
              "id": 385,
              "langId": "en",
              "siteId": "preop",
              "name": "Anterior Cruciate Ligament - (ACL) Arhroscopic Repair",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/385"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/385/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/385/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/385/video.m3u8"
                }
              ]
            },
            {
              "id": 357,
              "langId": "en",
              "siteId": "preop",
              "name": "Anti-Reflux Laparoscopy",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/357"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/357/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/357/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/357/video.m3u8"
                }
              ]
            },
            {
              "id": 348,
              "langId": "en",
              "siteId": "preop",
              "name": "Arthroscopic Surgery Meniscus - Repair of Knee",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/348"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/348/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/348/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/348/video.m3u8"
                }
              ]
            },
            {
              "id": 454,
              "langId": "en",
              "siteId": "postcare",
              "name": "Assist with Shower",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/454"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/454/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/454/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/454/video.m3u8"
                }
              ]
            },
            {
              "id": 424,
              "langId": "en",
              "siteId": "postcare",
              "name": "Assist with Tub Bath",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/424"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/424/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/424/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/424/video.m3u8"
                }
              ]
            },
            {
              "id": 422,
              "langId": "en",
              "siteId": "postcare",
              "name": "Assisting with Feeding",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/422"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/422/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/422/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/422/video.m3u8"
                }
              ]
            },
            {
              "id": 364,
              "langId": "en",
              "siteId": "preop",
              "name": "Balloon Angioplasty Coronary Angioplasty",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/364"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/364/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/364/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/364/video.m3u8"
                }
              ]
            },
            {
              "id": 338,
              "langId": "en",
              "siteId": "preop",
              "name": "Biopsy Surgery General Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/338"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/338/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/338/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/338/video.m3u8"
                }
              ]
            },
            {
              "id": 332,
              "langId": "en",
              "siteId": "preop",
              "name": "Breast Biopsy Incisional",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/332"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/332/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/332/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/332/video.m3u8"
                }
              ]
            },
            {
              "id": 333,
              "langId": "en",
              "siteId": "preop",
              "name": "Breast Biopsy Needle",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/333"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/333/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/333/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/333/video.m3u8"
                }
              ]
            },
            {
              "id": 334,
              "langId": "en",
              "siteId": "preop",
              "name": "Breast Biopsy Wire Guide",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/334"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/334/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/334/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/334/video.m3u8"
                }
              ]
            },
            {
              "id": 372,
              "langId": "en",
              "siteId": "preop",
              "name": "Bunion Removal Foot Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/372"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/372/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/372/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/372/video.m3u8"
                }
              ]
            },
            {
              "id": 361,
              "langId": "en",
              "siteId": "preop",
              "name": "Cardiac Catheterization Angiography",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/361"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/361/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/361/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/361/video.m3u8"
                }
              ]
            },
            {
              "id": 418,
              "langId": "en",
              "siteId": "postcare",
              "name": "Care and Drainage of a Leg Bag",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/418"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/418/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/418/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/418/video.m3u8"
                }
              ]
            },
            {
              "id": 441,
              "langId": "en",
              "siteId": "postcare",
              "name": "Care of Suprapubic Catheter",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/441"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/441/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/441/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/441/video.m3u8"
                }
              ]
            },
            {
              "id": 390,
              "langId": "en",
              "siteId": "postcare",
              "name": "Caring for a Male External Urinary Collecting System",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/390"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/390/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/390/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/390/video.m3u8"
                }
              ]
            },
            {
              "id": 342,
              "langId": "en",
              "siteId": "preop",
              "name": "Carpal Tunnel Syndrome Repair",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/342"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/342/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/342/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/342/video.m3u8"
                }
              ]
            },
            {
              "id": 341,
              "langId": "en",
              "siteId": "preop",
              "name": "Cataract Small Incision",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/341"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/341/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/341/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/341/video.m3u8"
                }
              ]
            },
            {
              "id": 410,
              "langId": "en",
              "siteId": "postcare",
              "name": "Closed Urinary Drainage System",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/410"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/410/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/410/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/410/video.m3u8"
                }
              ]
            },
            {
              "id": 462,
              "langId": "en",
              "siteId": "preop",
              "name": "Coronary Artery Bypass Graft (CABG off-pump)",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/462"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/462/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/462/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/462/video.m3u8"
                }
              ]
            },
            {
              "id": 377,
              "langId": "en",
              "siteId": "preop",
              "name": "Coronary Artery Bypass Graft (CABG)",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/377"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/377/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/377/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/377/video.m3u8"
                }
              ]
            },
            {
              "id": 436,
              "langId": "en",
              "siteId": "preop",
              "name": "Cystoscopy - Female",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/436"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/436/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/436/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/436/video.m3u8"
                }
              ]
            },
            {
              "id": 435,
              "langId": "en",
              "siteId": "preop",
              "name": "Cystoscopy - Male",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/435"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/435/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/435/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/435/video.m3u8"
                }
              ]
            },
            {
              "id": 350,
              "langId": "en",
              "siteId": "preop",
              "name": "Dilation & Curettage of the Uterus",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/350"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/350/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/350/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/350/video.m3u8"
                }
              ]
            },
            {
              "id": 438,
              "langId": "en",
              "siteId": "postcare",
              "name": "Emptying a Urinary Drainage Bag",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/438"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/438/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/438/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/438/video.m3u8"
                }
              ]
            },
            {
              "id": 353,
              "langId": "en",
              "siteId": "preop",
              "name": "Endoscopy of Large Intestine",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/353"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/353/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/353/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/353/video.m3u8"
                }
              ]
            },
            {
              "id": "442f",
              "langId": "en",
              "siteId": "postcare",
              "name": "Female Intermittent Self-Catheterization",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/442f"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/442f/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/442f/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/442f/video.m3u8"
                }
              ]
            },
            {
              "id": 453,
              "langId": "en",
              "siteId": "postcare",
              "name": "Female Perineal Wash",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/453"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/453/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/453/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/453/video.m3u8"
                }
              ]
            },
            {
              "id": 401,
              "langId": "en",
              "siteId": "preop",
              "name": "Fibroid - Tumor Removal Vaginal",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/401"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/401/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/401/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/401/video.m3u8"
                }
              ]
            },
            {
              "id": 343,
              "langId": "en",
              "siteId": "preop",
              "name": "Gallbladder Laparoscopic Cholecystectomy",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/343"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/343/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/343/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/343/video.m3u8"
                }
              ]
            },
            {
              "id": 440,
              "langId": "en",
              "siteId": "preop",
              "name": "Gallbladder Removal - Laparoscopic - Hassan Trocar",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/440"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/440/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/440/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/440/video.m3u8"
                }
              ]
            },
            {
              "id": 481,
              "langId": "en",
              "siteId": "preop",
              "name": "Gastric - Adjustable Band Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/481"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/481/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/481/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/481/video.m3u8"
                }
              ]
            },
            {
              "id": 444,
              "langId": "en",
              "siteId": "preop",
              "name": "Gastric Bypass (Laparoscopic)",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/444"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/444/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/444/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/444/video.m3u8"
                }
              ]
            },
            {
              "id": 480,
              "langId": "en",
              "siteId": "preop",
              "name": "Gastric Bypass - (Open)",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/480"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/480/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/480/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/480/video.m3u8"
                }
              ]
            },
            {
              "id": 417,
              "langId": "en",
              "siteId": "postcare",
              "name": "Getting Out of Bed After Abdominal or Chest Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/417"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/417/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/417/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/417/video.m3u8"
                }
              ]
            },
            {
              "id": 354,
              "langId": "en",
              "siteId": "preop",
              "name": "GI Endoscopy - Upper GI",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/354"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/354/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/354/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/354/video.m3u8"
                }
              ]
            },
            {
              "id": 412,
              "langId": "en",
              "siteId": "postcare",
              "name": "Gloving",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/412"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/412/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/412/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/412/video.m3u8"
                }
              ]
            },
            {
              "id": 411,
              "langId": "en",
              "siteId": "postcare",
              "name": "Handwashing",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/411"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/411/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/411/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/411/video.m3u8"
                }
              ]
            },
            {
              "id": 351,
              "langId": "en",
              "siteId": "preop",
              "name": "Hernia - Hiatal Laparoscopic",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/351"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/351/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/351/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/351/video.m3u8"
                }
              ]
            },
            {
              "id": 389,
              "langId": "en",
              "siteId": "preop",
              "name": "Hernia - Hiatal Open Repair",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/389"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/389/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/389/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/389/video.m3u8"
                }
              ]
            },
            {
              "id": 360,
              "langId": "en",
              "siteId": "preop",
              "name": "Hernia Repair Inguinal (Laparoscopic)",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/360"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/360/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/360/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/360/video.m3u8"
                }
              ]
            },
            {
              "id": 335,
              "langId": "en",
              "siteId": "preop",
              "name": "Hernia Repair Inguinal (Open)",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/335"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/335/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/335/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/335/video.m3u8"
                }
              ]
            },
            {
              "id": 382,
              "langId": "en",
              "siteId": "preop",
              "name": "Hip Replacement Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/382"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/382/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/382/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/382/video.m3u8"
                }
              ]
            },
            {
              "id": 349,
              "langId": "en",
              "siteId": "preop",
              "name": "Hysterectomy Removal of the Uterus",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/349"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/349/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/349/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/349/video.m3u8"
                }
              ]
            },
            {
              "id": 368,
              "langId": "en",
              "siteId": "preop",
              "name": "Hysterectomy: Uterus, Ovaries, and Fallopian",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/368"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/368/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/368/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/368/video.m3u8"
                }
              ]
            },
            {
              "id": 500,
              "langId": "en",
              "siteId": "preop",
              "name": "Knee Replacement Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/500"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/500/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/500/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/500/video.m3u8"
                }
              ]
            },
            {
              "id": "448i",
              "langId": "en",
              "siteId": "postcare",
              "name": "Injecting Insulin",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/448i"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/448i/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/448i/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/448i/video.m3u8"
                }
              ]
            },
            {
              "id": "448p",
              "langId": "en",
              "siteId": "postcare",
              "name": "Insulin Pens",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/448p"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/448p/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/448p/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/448p/video.m3u8"
                }
              ]
            },
            {
              "id": 337,
              "langId": "en",
              "siteId": "preop",
              "name": "Laparoscopy Diagnostic",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/337"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/337/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/337/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/337/video.m3u8"
                }
              ]
            },
            {
              "id": 376,
              "langId": "en",
              "siteId": "preop",
              "name": "Lasik Laser Eye Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/376"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/376/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/376/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/376/video.m3u8"
                }
              ]
            },
            {
              "id": "442m",
              "langId": "en",
              "siteId": "postcare",
              "name": "Male Intermittent Self-Catheterization",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/442m"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/442m/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/442m/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/442m/video.m3u8"
                }
              ]
            },
            {
              "id": 452,
              "langId": "en",
              "siteId": "postcare",
              "name": "Male Perineal Wash",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/452"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/452/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/452/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/452/video.m3u8"
                }
              ]
            },
            {
              "id": 405,
              "langId": "en",
              "siteId": "preop",
              "name": "Mastectomy Modified Radical",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/405"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/405/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/405/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/405/video.m3u8"
                }
              ]
            },
            {
              "id": 407,
              "langId": "en",
              "siteId": "preop",
              "name": "Mastectomy Radical",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/407"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/407/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/407/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/407/video.m3u8"
                }
              ]
            },
            {
              "id": 403,
              "langId": "en",
              "siteId": "preop",
              "name": "Mastectomy Total",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/403"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/403/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/403/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/403/video.m3u8"
                }
              ]
            },
            {
              "id": "448m",
              "langId": "en",
              "siteId": "postcare",
              "name": "Mixing Insulin",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/448m"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/448m/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/448m/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/448m/video.m3u8"
                }
              ]
            },
            {
              "id": 446,
              "langId": "en",
              "siteId": "postcare",
              "name": "Monitoring Your Blood Sugar",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/446"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/446/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/446/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/446/video.m3u8"
                }
              ]
            },
            {
              "id": 339,
              "langId": "en",
              "siteId": "preop",
              "name": "Myringotomy Insertion of Tube",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/339"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/339/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/339/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/339/video.m3u8"
                }
              ]
            },
            {
              "id": 336,
              "langId": "en",
              "siteId": "preop",
              "name": "Open Surgery General",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/336"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/336/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/336/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/336/video.m3u8"
                }
              ]
            },
            {
              "id": 399,
              "langId": "en",
              "siteId": "preop",
              "name": "Permanent Pacemaker - Implant",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/399"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/399/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/399/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/399/video.m3u8"
                }
              ]
            },
            {
              "id": 375,
              "langId": "en",
              "siteId": "preop",
              "name": "PRK Laser Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/375"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/375/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/375/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/375/video.m3u8"
                }
              ]
            },
            {
              "id": 443,
              "langId": "en",
              "siteId": "postcare",
              "name": "Recording Urine Output",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/443"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/443/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/443/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/443/video.m3u8"
                }
              ]
            },
            {
              "id": 479,
              "langId": "en",
              "siteId": "preop",
              "name": "Rotator Cuff Repair - Arthroscopic",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/479"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/479/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/479/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/479/video.m3u8"
                }
              ]
            },
            {
              "id": 478,
              "langId": "en",
              "siteId": "preop",
              "name": "Rotator Cuff Repair - Open Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/478"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/478/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/478/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/478/video.m3u8"
                }
              ]
            },
            {
              "id": 450,
              "langId": "en",
              "siteId": "preop",
              "name": "Shoulder Replacement Surgery",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/450"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/450/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/450/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/450/video.m3u8"
                }
              ]
            },
            {
              "id": 356,
              "langId": "en",
              "siteId": "preop",
              "name": "Spleen Removal Laparoscopic Splenectomy",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/356"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/356/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/356/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/356/video.m3u8"
                }
              ]
            },
            {
              "id": 370,
              "langId": "en",
              "siteId": "preop",
              "name": "Stent Implantation Coronary Angioplasty",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/370"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/370/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/370/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/370/video.m3u8"
                }
              ]
            },
            {
              "id": "447s",
              "langId": "en",
              "siteId": "postcare",
              "name": "Storage of Insulins",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/447s"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/447s/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/447s/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/447s/video.m3u8"
                }
              ]
            },
            {
              "id": 425,
              "langId": "en",
              "siteId": "postcare",
              "name": "Subcutaneous Injection",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/425"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/425/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/425/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/425/video.m3u8"
                }
              ]
            },
            {
              "id": 380,
              "langId": "en",
              "siteId": "preop",
              "name": "Tonsillectomy",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/380"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/380/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/380/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/380/video.m3u8"
                }
              ]
            },
            {
              "id": 415,
              "langId": "en",
              "siteId": "preop",
              "name": "TURP - Transurethral Resection of the Prostate",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/415"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/415/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/415/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/415/video.m3u8"
                }
              ]
            },
            {
              "id": "447t",
              "langId": "en",
              "siteId": "postcare",
              "name": "Types of Insulin",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/447t"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/447t/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/447t/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/447t/video.m3u8"
                }
              ]
            },
            {
              "id": 428,
              "langId": "en",
              "siteId": "postcare",
              "name": "Use of Peak Flow Meter",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/428"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/428/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/428/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/428/video.m3u8"
                }
              ]
            },
            {
              "id": 434,
              "langId": "en",
              "siteId": "postcare",
              "name": "Using a Transfer Belt",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/434"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/434/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/434/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/434/video.m3u8"
                }
              ]
            },
            {
              "id": 414,
              "langId": "en",
              "siteId": "preop",
              "name": "Vasectomy",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/414"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/414/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/414/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/414/video.m3u8"
                }
              ]
            },
            {
              "id": 420,
              "langId": "en",
              "siteId": "postcare",
              "name": "Wound Care",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/420"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/420/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/420/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/420/video.m3u8"
                }
              ]
            },
            {
              "id": "549-001",
              "langId": "en",
              "siteId": "preop",
              "name": "Vasectomy Surgery",
              "translations": [
                {
                  "langId": "en",
                  "name": "Vasectomy Surgery",
                  "content": "Vasectomy Surgery",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-001"
                },
                {
                  "langId": "es",
                  "name": "VasectomÃ­a",
                  "content": "VasectomÃ­a",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/es/procedures/549-001"
                }
              ],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-001"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-001/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-001/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-001/video.m3u8"
                }
              ]
            },
            {
              "id": "549-002-2",
              "langId": "en",
              "siteId": "preop",
              "name": "TURP - Transurethral Resection of the Prostate",
              "translations": [
                {
                  "langId": "en",
                  "name": "TURP Laser vaporization",
                  "content": "TURP Laser vaporization",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-2"
                },
                {
                  "langId": "es",
                  "name": "VaporizaciÃ³n Laser de la PrÃ³stata",
                  "content": "VaporizaciÃ³n Laser de la PrÃ³stata",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/es/procedures/549-002-2"
                }
              ],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-2"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-2/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-2/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-2/video.m3u8"
                }
              ]
            },
            {
              "id": "549-002-1",
              "langId": "en",
              "siteId": "preop",
              "name": "TURP Laser vaporization",
              "translations": [
                {
                  "langId": "en",
                  "name": "TURP Laser vaporization",
                  "content": "TURP Laser vaporization",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-1"
                },
                {
                  "langId": "es",
                  "name": "VaporizaciÃ³n Laser de la PrÃ³stata",
                  "content": "VaporizaciÃ³n Laser de la PrÃ³stata",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/es/procedures/549-002-1"
                }
              ],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-1"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-1/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-1/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-002-1/video.m3u8"
                }
              ]
            },
            {
              "id": "549-004-1",
              "langId": "en",
              "siteId": "preop",
              "name": "Transurethral Resection of Bladder Tumor, Female",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-004-1"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-004-1/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-004-1/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-004-1/video.m3u8"
                }
              ]
            },
            {
              "id": "549-004-2",
              "langId": "en",
              "siteId": "preop",
              "name": "Transurethral Resection of Bladder Tumor, Male",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-004-2"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-004-2/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-004-2/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-004-2/video.m3u8"
                }
              ]
            },
            {
              "id": "549-005-1",
              "langId": "en",
              "siteId": "preop",
              "name": "Radical Prostatectomy, Laparoscopic",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-1"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-1/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-1/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-1/video.m3u8"
                }
              ]
            },
            {
              "id": "549-005-2",
              "langId": "en",
              "siteId": "preop",
              "name": "Radical Retropubic Prostatectomy, Open",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-2"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-2/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-2/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-2/video.m3u8"
                }
              ]
            },
            {
              "id": "549-005-3",
              "langId": "en",
              "siteId": "preop",
              "name": "Radical Prostatectomy, Robot Assisted Laparoscopic",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-3"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-3/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-3/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-005-3/video.m3u8"
                }
              ]
            },
            {
              "id": "549-006",
              "langId": "en",
              "siteId": "preop",
              "name": "Transrectal Ultrasound and Prostate Biopsy",
              "translations": [
                {
                  "langId": "en",
                  "name": "Transrectal Ultrasound and Prostate Biopsy",
                  "content": "Transrectal Ultrasound and Prostate Biopsy",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-006"
                },
                {
                  "langId": "es",
                  "name": "Ultrasonido Transrectal y Biopsia de PrÃ³stata",
                  "content": "Ultrasonido Transrectal y Biopsia de PrÃ³stata",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/es/procedures/549-006"
                }
              ],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-006"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-006/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-006/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-006/video.m3u8"
                }
              ]
            },
            {
              "id": "549-007",
              "langId": "en",
              "siteId": "preop",
              "name": "Inflatable Penile Implant",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-007"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-007/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-007/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-007/video.m3u8"
                }
              ]
            },
            {
              "id": "549-008",
              "langId": "en",
              "siteId": "preop",
              "name": "Mesh Sling Procedure for Stress Urinary Incontinence (Female)",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-008"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-008/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-008/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-008/video.m3u8"
                }
              ]
            },
            {
              "id": "549-009-1",
              "langId": "en",
              "siteId": "preop",
              "name": "Catheter and Drainage Bag Care - Male",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-009-1"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-009-1/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-009-1/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-009-1/video.m3u8"
                }
              ]
            },
            {
              "id": "549-009-2",
              "langId": "en",
              "siteId": "preop",
              "name": "Catheter and Drainage Bag Care - Female",
              "translations": [],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-009-2"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-009-2/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-009-2/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-009-2/video.m3u8"
                }
              ]
            },
            {
              "id": "549-012-2",
              "langId": "en",
              "siteId": "preop",
              "name": "Ureteral Stent Instructions - Male",
              "translations": [
                {
                  "langId": "en",
                  "name": "Ureteral Stent Instructions - Male",
                  "content": "Ureteral Stent Instructions - Male",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-2"
                },
                {
                  "langId": "es",
                  "name": "Instrucciones de Stent Uretral - hombre",
                  "content": "Instrucciones de Stent Uretral - hombre",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/es/procedures/549-012-2"
                }
              ],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-2"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-2/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-2/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-2/video.m3u8"
                }
              ]
            },
            {
              "id": "549-012-1",
              "langId": "en",
              "siteId": "preop",
              "name": "Ureteral Stent Instructions - Female",
              "translations": [
                {
                  "langId": "en",
                  "name": "Ureteral Stent Instructions - Female",
                  "content": "Ureteral Stent Instructions - Female",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-1"
                },
                {
                  "langId": "es",
                  "name": "Instrucciones de Stent Uretral - mujer",
                  "content": "Instrucciones de Stent Uretral - mujer",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/es/procedures/549-012-1"
                }
              ],
              "links": [
                {
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-1"
                },
                {
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-1/image.jpg"
                },
                {
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-1/video.mp4"
                },
                {
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/549-012-1/video.m3u8"
                }
              ]
            }
          ],
          "actions": [],
          "links": [],
          "entities": []
        }
        
        # GET Procedures by Translation [/v1/{langid}/procedures]
        The all procedures availible in the specified language identifier.  The API is useful for getting a list of the procedures in
        different languages.  The default is US English or 'en'.  If you all procedures regardless of languages
        you may use GET /v1/procedures
        
        ## Retrieve all Procedure Translations[GET]
        
        The following example demostrates getting all of the spanish or 'es' procedures using curl.
        
        `````
        curl 'http://api.medselfed.com/v1/es/procedures?apikey=111223' 
        `````
        
        + Parameters
            + langid (optional, string) ... the Procedure translation language identifier.
                + Default: `en`
            
        + Response 200 (application/json)
            + Headers
        
            + Body
        
        {
          "class": [
            "root"
          ],
          "properties": [
            {
              "id": 477,
              "langId": "en",
              "siteId": "preop",
              "name": "Abdominal Aortic Aneurysm - Open Repair",
              "translations": [
                {
                  "langId": "en",
                  "name": "Abdominal Aortic Aneurysm - Open Repair",
                  "content": "Abdominal Aortic Aneurysm - Open Repair",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/477"
                }
              ],
              "links": [
                {
                  "name": "get-procedure",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/477"
                },
                {
                  "name": "procedure-image-jpg",
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/477/image.jpg"
                },
                {
                  "name": "procedure-video-mp4",
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/477/video.mp4"
                },
                {
                  "name": "procedure-video-m3u8",
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/477/video.m3u8"
                }
              ]
            },
            {
              "id": 402,
              "langId": "en",
              "siteId": "preop",
              "name": "Abdominal Fibroid Removal - Myomectomy",
              "translations": [
                {
                  "langId": "en",
                  "name": "Abdominal Fibroid Removal - Myomectomy",
                  "content": "Abdominal Fibroid Removal - Myomectomy",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/402"
                }
              ],
              "links": [
                {
                  "name": "get-procedure",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/402"
                },
                {
                  "name": "procedure-image-jpg",
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/402/image.jpg"
                },
                {
                  "name": "procedure-video-mp4",
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/402/video.mp4"
                },
                {
                  "name": "procedure-video-m3u8",
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/402/video.m3u8"
                }
              ]
            },
            {
              "id": 352,
              "langId": "en",
              "siteId": "preop",
              "name": "Achilles Tendon Repair",
              "translations": [
                {
                  "langId": "en",
                  "name": "Achilles Tendon Repair",
                  "content": "Achilles Tendon Repair",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/352"
                }
              ],
              "links": [
                {
                  "name": "get-procedure",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/352"
                },
                {
                  "name": "procedure-image-jpg",
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/352/image.jpg"
                },
                {
                  "name": "procedure-video-mp4",
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/352/video.mp4"
                },
                {
                  "name": "procedure-video-m3u8",
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/352/video.m3u8"
                }
              ]
            },
            {
              "id": 385,
              "langId": "en",
              "siteId": "preop",
              "name": "Anterior Cruciate Ligament - (ACL) Arhroscopic Repair",
              "translations": [
                {
                  "langId": "en",
                  "name": "Anterior Cruciate Ligament - (ACL) Arhroscopic Repair",
                  "content": "Anterior Cruciate Ligament - (ACL) Arhroscopic Repair",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/385"
                }
              ],
              "links": [
                {
                  "name": "get-procedure",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/385"
                },
                {
                  "name": "procedure-image-jpg",
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/385/image.jpg"
                },
                {
                  "name": "procedure-video-mp4",
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/385/video.mp4"
                },
                {
                  "name": "procedure-video-m3u8",
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/385/video.m3u8"
                }
              ]
            },
            {
              "id": 357,
              "langId": "en",
              "siteId": "preop",
              "name": "Anti-Reflux Laparoscopy",
              "translations": [
                {
                  "langId": "en",
                  "name": "Anti-Reflux Laparoscopy",
                  "content": "Anti-Reflux Laparoscopy",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/357"
                }
              ],
              "links": [
                {
                  "name": "get-procedure",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/357"
                },
                {
                  "name": "procedure-image-jpg",
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/357/image.jpg"
                },
                {
                  "name": "procedure-video-mp4",
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/357/video.mp4"
                },
                {
                  "name": "procedure-video-m3u8",
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/357/video.m3u8"
                }
              ]
            },
            {
              "id": 348,
              "langId": "en",
              "siteId": "preop",
              "name": "Arthroscopic Surgery Meniscus - Repair of Knee",
              "translations": [
                {
                  "langId": "en",
                  "name": "Arthroscopic Surgery Meniscus - Repair of Knee",
                  "content": "Arthroscopic Surgery Meniscus - Repair of Knee",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/348"
                }
              ],
              "links": [
                {
                  "name": "get-procedure",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/348"
                },
                {
                  "name": "procedure-image-jpg",
                  "type": "image/jpg",
                  "href": "http://api.medselfed.com/v1/en/procedures/348/image.jpg"
                },
                {
                  "name": "procedure-video-mp4",
                  "type": "video/mp4",
                  "href": "http://api.medselfed.com/v1/en/procedures/348/video.mp4"
                },
                {
                  "name": "procedure-video-m3u8",
                  "type": "text/plain",
                  "href": "http://api.medselfed.com/v1/en/procedures/348/video.m3u8"
                }
              ]
            },
            {
              "id": 454,
              "langId": "en",
              "siteId": "postcare",
              "name": "Assist with Shower",
              "translations": [
                {
                  "langId": "en",
                  "name": "Assist with Shower",
                  "content": "Assist with Shower",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/454"
                }
              ],
              "links": [
                {
                  "name": "get-procedure",
                  "type": "application/json",
                  "href": "http://api.medselfed.com/v1/en/procedures/454"
                },
                {
                  "name": "procedure-image-jpg",
                  "type": "image/jpg",
[...]
